<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuluknut.tongliaooj.module.forum.mapper.DiscussionMapper">
    <resultMap id="BaseResultMap" type="com.wuluknut.tongliaooj.module.forum.model.DiscussionDO">
        <!--@mbg.generated-->
        <!--@Table tbl_discussion-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="star" jdbcType="INTEGER" property="star"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        "id",
        "content",
        "title",
        "star",
        "update_by",
        "update_time",
        "create_by",
        "create_time"
    </sql>
</mapper>
