### OSX ###
.DS_Store
.AppleDouble
.LSOverride

### Web ###
# Node dependencies
node_modules

# dev/build outputs
.output
.nitro
.nuxt
.data
.cache

dist

# Local env files
.env
.env.*
!.env.example

# Logs
logs
*.log

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/*
